<table class="table">
    <thead>
        <tr>
            <th scope="col" *ngFor="let header of config.headers">{{header}}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listItems; let i=index;">
            <th scope="row">{{item.id}}</th>
            <td>{{item.author}}</td>
            <td>{{item.name}}</td>
            <td *ngIf="item.quantity">{{item?.quantity}}</td>
            <td>
                <button class="btn btn-primary" (click)="borrowBook(item)">{{config.actions[0]}}</button>
            </td>
        </tr>
    </tbody>
</table>
